* {
    margin: 0;
    border: border-box;
    font-family: Arial;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border {
    border: 1px solid transparent;
}

.border:hover {
    border: 1px solid white;
}

.address-text1 {
    color: #cccccc;
    font-size: 0.8rem;
    margin-left: 15px;
}

.address-text2 {
    font-size: 1rem;
    margin-left: 3px;
    font-weight: 700;
}

.address-icon {
    display: flex;
}

.nav-search {
    display: flex;
    height: 40px;
    width: 900px;
    border-radius: 4px;
    justify-content: space-evenly;
}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-radius: 4px 0 0 4px;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

.nav-search-border {
    border: 2px solid transparent;
}
.nav-search-border:hover {
    background-color: orange;
}

.nav-first {
    font-size: 0.7rem;
}

.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}

.nav-cart i {
    font-size: 30px;
}

.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.panel-ops p{
    display: inline;
    margin-right: 15px;
}

.panel-ops {
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}

.hero-section {
    background-image: url("hero_image.jpg");
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg {
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: 0.85rem;
    width: 90%;
    margin-bottom: 25px;
}

.hero-msg a {
    color: #007185;
    text-decoration: none;
}

.hero-msg a:hover {
    text-decoration: underline;
    color: orange;
}

.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.box {
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.box-img {
    height: 320px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-size: cover;
}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p{
    color: #007185;
}

.footer-panel1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.footer-panel2 {
    background-color: #222f3d;
    color: white;
    height: 250px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    /* padding-bottom: 30px; */
}

.footer-panel2 ul p{
    font-weight: 700;
}

.footer-panel2 ul a{
    text-decoration: none;
    color: #dddddd;
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
}

.footer-panel2 ul a:hover{
    text-decoration: underline;
}

.footer-panel3 {
    height: 70px;
    background-color: #222f3d;
    border-top: 0.21px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

.footer-panel4 {
    background-color: #0f1111;
    color: white;
    height: 60px;
    font-size: 0.7rem;
    text-align: center;
    padding-top: 25px;
}

.pages a{
    margin-right: 10px;
    text-decoration: none;
    color: white;
}

.pages a:hover{
    text-decoration: underline;
}

.copyright {
    padding-top: 5px;
}

/** responsive css **/
@media (max-width: 1200px) {
    .nav-search {
        width: 70%;
    }

    .box {
        width: 45%;
    }
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: auto;
    }

    .nav-search {
        width: 90%;
    }

    .panel-ops, .panel-deals {
        display: none;
    }

    .box {
        width: 90%;
    }

    .hero-section {
        height: 300px;
    }

    .hero-msg {
        font-size: 0.75rem;
        height: auto;
    }

    .footer-panel2 {
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: auto;
        padding-top: 20px;
    }

    .footer-panel2 ul {
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        height: 400px;
    }

    .nav-search {
        width: 100%;
        flex-direction: column;
        margin-top: 10px;
    }

    .search-select, .search-input, .search-icon {
        width: 100%;
        border-radius: 4px;
        margin-bottom: 5px;
    }

    .search-select {
        border-radius: 4px;
    }

    .search-input {
        border-radius: 0;
    }

    .hero-section {
        height: 200px;
    }

    .footer-panel2 {
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: auto;
        padding-top: 10px;
    }

    .footer-panel2 ul {
        margin-bottom: 10px;
    }
}